[Unit]
Description=Manabot
After=network.target

[Service]
Type=forking
PIDFile=/var/run/manabot.pid
ExecStart=/sbin/start-stop-daemon -S -b -mp /var/run/manabot.pid -d /var/cache/manabot -a /usr/bin/manabot
ExecStop=/sbin/start-stop-daemon -K -p /var/run/manabot.pid
Restart=always

[Install]
WantedBy=multi-user.target
